<div class="user__event">
    <div class="event-content container row">
        <div>
            <p><%= user_event.title%></p>
            <p>Thur,21, Apr, 2021</p>
        </div>
        <p>invites sent: 200</p>
        <p>Confirmed: 20</p> 
    </div>
</div>