<div class="user__event">
    <div class="event-content">
        <div>
            <p><%= user_event.title%></p>
            <p><%= user_event.event_date%></p>
        </div>
            <p>invites sent: 200</p>
            <p>Confirmed attendance: 20</p>
            <p>Pending confirmations:180</p> 
    </div>
</div>