<div class="user__event">
    <div class="event-content">
        <div>
            <p>event title here</p>
            <p>date</p>
        </div>
            <p>invites sent: 200</p>
            <p>Confirmed attendance: 20</p>
            <p>Pending confirmations:180</p> 
    </div>
</div>