<div class="user__profile">
    <div class="user__events">
        <div class="user__info">
            <p>Events hosted: 10</p>
            <p>Upcoming events</p>
            <p>Invited events</p>
        </div>
        <div class="events__created">
            <%= render 'user_event'%>
        </div>
    </div>
    <div class="invited__events">
        <div class="invited__events--upcoming">
            <h2>Upcoming events</h2>
            <%= render 'events/event'%>
        </div>
        <div class="invited__events--past">
            <h2>Past events</h2>
            <%= render 'events/event'%>
        </div>
    </div>

</div>

