<div class="user__profile container row">
    <div class="user__events">
        <div class="user__info">
            <p><%= current_user.username%></p>
            <p>Events hosted: <%= @created_events.all.count%></p>
            <p>Upcoming events</p>
            <p>Invited events: <%= current_user.invitations.count%></p>
        </div>
    </div>
    <div class="invited__events">
        <div class="invited__events--upcoming">
            <h2 class="title">Invited events</h2>
            <%= render partial: 'events/event', collection: @events%>
        </div>
    </div>

</div>

