<div class="event__card">
    <div class="card__header">
        <%= image_tag 'Untitled-6.svg'%>
    </div>
    <div class="event__info container">
        <h3><%= event.title %></h3>
        <P>Thu,May20,2021 10:00 p.m</P>
    </div>
</div>