<main class='main'>
    <div class="main-wrapper container">
        <div class="hero row">
            <div class="hero__content">
                <h1 class="title">Bring everyone together.</h1>
                
                <p class="hero__content--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in qui illo commodi excepturi dolores, inventore ut corrupti ipsa magnam.</p>
                <button class="btn"><%= link_to "Create event", new_event_path %></button>
            </div>
            <div class="hero__vector__img">
               <%= image_tag 'block party 1.svg'%>
            </div>
        </div>
    
        <div class="upcoming__events event-section">
            <h2 class="title">Upcoming events</h2>
            <div class="upcoming__events--wrapper">
                <%=render partial:'event', collection: @events%>
            </div>  
        </div>
        <div class="past__events event-section">
            <h2 class="title">Past events</h2>

        </div>
    </div>
</main>
