<main>
    <div class="hero">
        <div class="hero__content">
            <h1>Bring everyone together.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in qui illo commodi excepturi dolores, inventore ut corrupti ipsa magnam.</p>
            <button>Create event</button>
        </div>
        <div class="hero__vector__img">
           
        </div>
    </div>

    <div class="upcoming__events">
        <h2>Upcoming events</h2>
       <%=render 'event'%>
    </div>
    <div class="past__events">
        <h2>Past events</h2>
        <%= render 'event'%>
    </div>
</main>
