/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *::before, *::after {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: 'Roboto-condensed', sans-serif;
     background-color: #1C7EC2;
     
 }
 h1, h2, h3 {
     margin: 0;
 }

 ul {
     padding: 0;
 }

 li {
     list-style: none;
     margin: 0;
     
 }
 a {
     text-decoration: none;
     color: #000;
 }

 img {
     max-width: 100%;
 }

 .container {
     width: 90%;
     max-width: 1200px;
     margin: 0 auto;
 }

 .row {
     display: flex;
 }
 .username {
    display: block;
    margin: 2rem 0;
    padding: 0.6rem 0.7rem;
}

.title {
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #EBBC2E;
}
.btn {
     padding: 0.6rem 2rem;
     border-radius: 25px;
     border: none;
     color: #FFF;
     background-color: #FF6699;
     cursor: pointer;

 }

 .btn a {
     color: #FFF;
 }
 .header {
     padding-top: 0.5rem;
     margin-bottom: 30px;
     background-color: rgb(42, 114, 165);
 }
 .header__wrapper {
    justify-content: space-between;
   
 }
 .logo {
     align-self: center;
 }

 .nav__link {
     cursor: pointer;
 }

 .nav__link + .nav__link {
     margin-left: 2rem;
     align-self: center;
 }

 .message__icon {
     position: relative;
     display: flex;
 }

 .message__icon img {
     width: 28px;
    
 }

 .msg_received {
     position: absolute;
     top: -10px;
     right: -10px;
     margin: 0;
     padding-top: .2em;
     width: 1.5em;
     height: 1.5em;
     border-radius: 50%;
     text-align: center;
     background-color: red;
     color: black;
     font-weight: bold;
 }



