<header class="header container row">
    <p class="logo"><%= link_to "Logo", events_path%></p>
    <nav class="nav">
        <ul class="nav__items row">
            <li class="nav__link btn">Host an event</li>
            <% if logged_in? %>
            <li class="nav__link">Profile</li>
            <% end %>

            <li class="nav__link">Sign In</li>

            <% if logged_in? %>
            <li class="nav__link"><%= link_to "Sign Out", logout_path, method: :delete%></li>
            <% end %>
        </ul>
    </nav>
</header>