<header>
    <p>Logo</p>
    <nav>
        <ul>
            <li>Host an event</li>
            <li>Profile</li>
            <li>Sign In</li>
            <li>Sign Out</li>
        </ul>
    </nav>
</header>